:root {
  --color-primary: #3a86ff;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
}

.section {
  height: 100vh;
  width: 100vw;
}

#section-1 {
  background-color: #232a34;
}

#section-2 {
  background-color: #92a2b9;
}

#section-3 {
  background-color: #2a9d8f;
}

#section-4 {
  background-color: #264653;
}

.intro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #f0efeb;
}

.intro__name {
  color: #3a86ff;
}

.about {
  display: flex;
  justify-content: center;
}

.about__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.about__body p {
  margin: 0 2rem 1rem 2rem;
}

.about h1 {
}

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-weight: 400;
  margin: 1rem 0;
  outline: 0;
  padding: 0.75rem 4vw;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}
